{{ if .manageBin }}
".local/bin/starship":
  type: file
  executable: true
  refreshPeriod: 168h
  url: "https://github.com/starship/starship/releases/latest/download/starship-{{index .bin.starship.arch .chezmoi.arch}}-{{index .bin.starship.os .chezmoi.os}}.{{index .bin.starship.format .chezmoi.os}}"
  filter:
    {{ if eq "zip" (index .bin.starship.format .chezmoi.os) }}
    command: unzip
    {{ else }}
    command: tar.gz
    args: ["--extract", "--gzip", "--file", "/dev/stdin", "--to-stdout"]
    {{ end }}

".local/bin/neofetch":
  type: file
  executable: true
  refreshPeriod: 168h
  url: "https://api.github.com/repos/dylanaraps/neofetch/tarball/7.1.0"
  filter:
    command: tar
    args: ["--extract", "--gzip", "--file", "/dev/stdin", "--to-stdout", "--wildcards", "dylanaraps-neofetch*/neofetch"]
{{ end }} 
