format: yaml
progress: true
umask: {{if eq .chezmoi.os "android"}} 0o077 {{else}} 0o022 {{end}}

add:
  templateSymlinks: true
edit:
  apply: true

data:
  githubUsername: {{ promptStringOnce . "githubUsername" "GitHub username" .chezmoi.username }}
  authorizedKeys: {{ promptBoolOnce . "authorizedKeys" "Manage SSH authorized_keys" true }}

