".config/nvim":
  type: archive
  url: "https://github.com/NvChad/NvChad/archive/refs/heads/v2.0.tar.gz"
  refreshPeriod: 168h
  exact: true
  stripComponents: 1

{{ if .manageBin }}
".local/bin/starship":
  type: file
  executable: true
  refreshPeriod: 168h
  url: "https://github.com/starship/starship/releases/latest/download/starship-{{index .bin.starship.arch .chezmoi.arch}}-{{index .bin.starship.os .chezmoi.os}}.tar.gz"
  filter:
    command: tar
    args: ["--extract", "--gzip", "--file", "/dev/stdin", "--to-stdout"]

".local/bin/neofetch":
  type: file
  executable: true
  refreshPeriod: 168h
  url: "https://api.github.com/repos/dylanaraps/neofetch/tarball/7.1.0"
  filter:
    command: tar
    args: ["--extract", "--gzip", "--file", "/dev/stdin", "--to-stdout", "--wildcards", "dylanaraps-neofetch*/neofetch"]

".local/bin/cloudflared":
  type: file
  executable: true
  refreshPeriod: 168h
  url: "https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-{{if eq .chezmoi.os "android"}}linux{{else}}{{.chezmoi.os}}{{end}}-{{.chezmoi.arch}}"

".local/bin/rg":
  type: file
  executable: true
  refreshPeriod: 168h
  url: "https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep-13.0.0-{{index .bin.ripgrep.arch .chezmoi.arch}}-{{index .bin.ripgrep.os .chezmoi.os}}.tar.gz"
  filter:
    command: tar
    args: ["--extract", "--gzip", "--file", "/dev/stdin", "--to-stdout", "--wildcards", "ripgrep-*/rg"]

".local/bin/fzf":
  type: file
  executable: true
  refreshPeriod: 168h
  url: "https://github.com/junegunn/fzf/releases/download/0.42.0/fzf-0.42.0-{{index .bin.fzf.os .chezmoi.os}}_{{.chezmoi.arch}}.tar.gz"
  filter:
    command: tar
    args: ["--extract", "--gzip", "--file", "/dev/stdin", "--to-stdout"]
{{ end }} 
