".config/nvim":
  type: archive
  url: "https://github.com/NvChad/NvChad/archive/refs/heads/v2.0.tar.gz"
  refreshPeriod: 168h
  exact: true
  stripComponents: 1

".termux/colors.properties":
  type: file
  url: "https://raw.githubusercontent.com/catppuccin/termux/main/Mocha/colors.properties"
  refreshPeriod: 168h

".config/kitty/kitty.conf.d/catppuccin-mocha.conf":
  type: file
  url: "https://raw.githubusercontent.com/catppuccin/kitty/main/themes/mocha.conf"
  refreshPeriod: 168h

