format: yaml
progress: true
umask: {{if eq .chezmoi.os "android"}} 0o077 {{else}} 0o022 {{end}}

add:
  templateSymlinks: true
edit:
  apply: true

data:
  githubUsername: {{ promptStringOnce . "githubUsername" "GitHub username" .chezmoi.username }}
  headless: {{ promptBoolOnce . "headless" "Perform headless setup (no kitty, fonts, etc.)" false }}
  manageBin: {{ promptIntOnce . "manageBin" "Manage local bin? 0=no, 1=essentials (starship), 2=extras" 1 }}

