# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# If not running interactively (e.g. when called by scp), don't do anything
[[ $- != *i* ]] && return

# path
if ! [[ "$PATH" =~ "$HOME/.local/bin" ]]
then
    PATH="$HOME/.local/bin:$PATH"
fi
export PATH

# aliases
{{- range $a, $alias := .aliases }}
alias {{ $a }}="{{ $alias }}"
{{- end }}

# environment variables
{{- range $var, $val := .env }}
export {{ $var }}="{{ $val }}"
{{- end }}

# greeting
if [[ $SHLVL -eq 1 ]]
then
    neofetch --config ~/.config/neofetch/simple.conf
fi

HISTTIMEFORMAT="%F %T "
HISTCONTROL=ignoredups

eval "$(starship init bash)"
