$env:PATH = "$env:USERPROFILE\.local\bin;$env:PATH"

# aliases
{{- range $a, $alias := .aliases }}
Set-Alias -Name {{ $a }} -Value "{{ $alias }}"
{{- end }}

# environment variables
{{- range $var, $val := .env}}
$env:{{ $var }} = "{{ $val }}"
{{- end }}

if (get-command conda -ErrorAction SilentlyContinue) {
	(&conda "shell.powershell" "hook") | Out-String | Invoke-Expression
}

Invoke-Expression (&starship init powershell)
