if status is-interactive
    # Commands to run in interactive sessions can go here
    # Starship prompt
    starship init fish | source
    # Aliases
    {{ range $a, $alias := .aliases -}}
    abbr -a {{ $a }} {{ $alias }}
    {{ end }}
end
