tab_bar_edge	top
tab_bar_style	powerline
tab_powerline_style    slanted
tab_separator	""
tab_title_template	"{fmt.noitalic}{fmt.fg.red}{sup.index}{fmt.fg.tab}{bell_symbol}{activity_symbol}{':'.join([x for x in ('@'.join([x for x in (d['user'],) if x != '{{.chezmoi.username}}'] + [x for x in (d['hostname'],) if x != '{{.chezmoi.hostname}}']),) if x != ''] + [d['cwd']+'$'+tab.active_exe]) if (m := re.fullmatch('(?P<user>.+)@(?P<hostname>.+):(?P<cwd>.+)', title)) and (d := m.groupdict()) else title}"
