format = '$fill[* * *   $status   * * *](dimmed white)$fill$line_break $all$fill$jobs$cmd_duration$time$line_break $battery$username$hostname$hostip$container$shell$character'

[fill]
symbol = ' '
style = 'dimmed white'

{{ if ne .chezmoi.os "android" }}
[battery]
format = '[ $symbol $percentage ]($style)'
full_symbol = '󰁹 '
charging_symbol = '󰂄 '
discharging_symbol = '󰁿 '
unknown_symbol = '󰂑 '
empty_symbol = '󰂎 '

[[battery.display]]
threshold = 95
style = 'green'

[[battery.display]]
threshold = 40
style = 'yellow'

[[battery.display]]
threshold = 15
style = 'red'
{{ end }}

[character]
disabled = true

[cmd_duration]
min_time = 5000
format = '[  $duration ]($style)'
style = 'inverted yellow'

[directory]
truncation_length = 0
truncation_symbol = '…/'
read_only = ' 󰏯 '

[directory.substitutions]
'/boot' = '/🥾'
'/lib' = '/📚'
'/log' = '/🪵'
'/run' = '/🏃'
'/Documents' = '/󱔗'
'/Downloads' = '/'
'/Music' = '/󰈣'
'/Pictures' = '/'
'/.config' = '/⚙'

[git_branch]
symbol = " "

[git_metrics]
disabled = false

[git_status]
conflicted = "≠"
renamed = "Δ"
deleted = "×"

[shell]
disabled = false
bash_indicator = "󱆃"
fish_indicator = "󰈺"
zsh_indicator = "Z"
powershell_indicator = "󰨊"
xonsh_indicator = ""
cmd_indicator = ""
nu_indicator = "𝜈"
unknown_indicator = "#?"
format = "[$indicator]($style)❯ "

[status]
disabled = false
format = '[$symbol]($style)'
style = 'dimmed white'
symbol = '[‼](dimmed yellow)'
success_symbol = '[✓](dimmed green)'
not_executable_symbol = '[×](dimmed red)'
not_found_symbol = '[⬚](dimmed blue)'
sigint_symbol = '[╎](dimmed purple)'
signal_symbol = '[†](dimmed white)'
recognize_signal_code = true
map_symbol = true
pipestatus = true
pipestatus_format = '[$pipestatus => $symbol]($style)'
pipestatus_separator = '[ | ](dimmed white)'

[sudo]
disabled = false

[time]
disabled = false
format = '[  $time ]($style)'
style = 'inverted blue'
